@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  font-family: OpenDyslexic, Arial, Verdana, sans-serif;
}

button,
input,
textarea {
  font: inherit;
}
